{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}

{% block title %}
  {% if image.pk %}
    {% trans "Edit - Image" context "Image form text" %}
  {% else %}
    {% trans "Add image" context "Image form text" %}
  {% endif %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-store body-gallery{% endblock %}

{% block menu_gallery_class %}active{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    {% if image.pk %}
      <li>
        <span class="breadcrumbs--ellipsed-item">
          {% trans "Image" context "Image form text" %}
        </span>
      </li>
      <li>
        <span class="breadcrumbs--ellipsed-item">
          {% trans "Edit" context "Image form text" %}
        </span>
      </li>
    {% comment %} {% else %}
      <li>
        <span class="hide-on-med-and-down">
          {% trans "Add image" context "Image form breadcrumbs" %}
        </span>
        <span class="hide-on-large-only breadcrumbs--ellipsed-item">
          {% blocktrans trimmed context "Image form breadcrumbs"  %}
            Add image for {{ product }}
          {% endblocktrans %}
        </span>
      </li> {% endcomment %}
    {% endif %}
  </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l9">
      <div class="card">
        <form method="post" enctype="multipart/form-data">
          <div class="card-content">
            {% csrf_token %}
            <div class="row">
              {{ form.image|materializecss }}
            </div>
            <div class="row">
              {{ form.name|materializecss }}
            </div>
          </div>
          <div class="card-action right-align">
            <a href="{% url "dashboard:gallery-list" %}" class="btn-flat waves-effect">
              {% trans "Cancel" context "Dashboard cancel action" %}
            </a>
            {% if image.pk %}
              <button type="submit" class="btn waves-effect">
                {% trans "Save" context "Dashboard update action" %}
              </button>
            {% else %}
              <button type="submit" class="btn waves-effect">
                {% trans "Create" context "Dashboard create action" %}
              </button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
    <div class="col s12 m3 help-box"></div>
  </div>
{% endblock %}
